div(class="row")
  div(class="span12")
    div(class="widget widget-nopad")
      div(class="widget-header")
        i(class="icon-list-alt")
        h3 Tarjetas de proyectos
      div(class="widget-content")
        div(class="widget big-stats-container" style="padding: 15px;")
          ul(class="messages_layout")
            li(class="from_user left")
              a(href="#" class="avatar")
                img(src="../images/message_avatar1.png")
              div(class="message_wrap") 
                span(class="arrow")
                div(class="info")
                  h3 #{proyecto.proyectManager.nombre}
                div(class="text") 
                  h4 #{proyecto.nombreProyecto}
                  div(style="padding-top: 10px;")
                    p Fecha de solicitud: #{proyecto.fechaSolicitud}
                    p Fecha de inicio: #{proyecto.fechaArranque}
                    p Descripción del proyecto: #{proyecto.descripcion}
            
